--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu121

# Core (GPU: cu121)
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1

# Dataset tools
wfdb>=4.3.0

# Scientific
numpy>=2.0,<3
pandas
scipy
scikit-learn
scikit-image
matplotlib
opencv-python-headless
h5py

# Utils/Analysis
PyYAML
tensorboardX
tqdm
mat73
timm
neurokit2
thop
fsspec
ipykernel
ipywidgets
yacs


# PhysioNet IO
wfdb>=4.1.3
